@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

@font-face {
  font-family: "Nexa";
  src: url("./assets/fonts/Nexa-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("./assets/fonts/Nexa-Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("./assets/fonts/Nexa-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("./assets/fonts/Nexa-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("./assets/fonts/Nexa-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-nexa: "Nexa";
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue" Arial, "Noto Sans", sans-serif;
  --background-image-galaxy: url("/Images/bg_galaxy_web.png");
  --background-image-galaxy-mobile: url("/Images/BG_galaxy_phone.png");
  --background-image-gold-grad: linear-gradient(
    180deg,
    #cf9d4c 0%,
    #694f27 100%
  );

  --background-image-service-border: linear-gradient(
    180deg,
    #85612f 23%,
    #ffe4ae 53%,
    #85612f 100%
  );
  --background-image-navbar: linear-gradient(
    180deg,
    rgba(23, 38, 54, 0.5) 22%,
    rgba(66, 110, 156, 0.1) 100%
  );

  --background-image-gold-grad-hover: linear-gradient(
    180deg,
    #e3b467 0%,
    #856636 100%
  );

  --background-image-gold-submit: linear-gradient(
    180deg,
    #ffcd91 0%,
    #ab8050 100%
  );

  --background-myBlue: linear-gradient(
    89.76deg,
    #101521 0.21%,
    #092042 27.98%,
    #092042 75.86%,
    #101521 99.8%
  );

  --background-about-blue: linear-gradient(
    180deg,
    rgba(23, 38, 54, 0.5) 22%,
    rgba(66, 110, 156, 0.1) 100%
  );

  --shadow-gold: 1px 1px 8px 4px #d9a672;
  --shadow-card-dark: 2px 2px 10px 10px rgba(0, 0, 0, 0.25);
  --card-border-hover: linear-gradient(
    180deg,
    #ffaa00 0%,
    #cc8800 25%,
    #ffcd6a 50%,
    #e6ab35 74.52%,
    #ffdf9e 100%
  );
}

.service-border-gradient {
  border: 4px solid transparent;
  border-image-slice: 1;
  border-image-source: var(--background-image-service-border);
}

.bg-myBlue {
  background: var(--background-myBlue);
}

.bg-about-blue {
  background: var(--background-about-blue);
}

.bg-service-border {
  border-image-source: var(--background-image-service-border);
}

.bg-about-hero-faded {
  background-image:
    linear-gradient(rgba(16, 21, 33, 0.7), rgba(16, 21, 33, 0.7)),
    url("/Logo/Global-Access-Group.png"),
    linear-gradient(
      89.76deg,
      #101521 0.21%,
      #092042 27.98%,
      #092042 75.86%,
      #101521 99.8%
    );
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-about-hero {
  background-image:
    url("/Logo/Global-Access-Group.png"),
    linear-gradient(
      89.76deg,
      #101521 0.21%,
      #092042 27.98%,
      #092042 75.86%,
      #101521 99.8%
    );
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.gold-gradient-card {
  position: relative;
  border: 2px solid transparent;
  background:
    linear-gradient(#0b1c36, #0b1c36) padding-box,
    linear-gradient(180deg, #ffaa00, #cc8800) border-box;
  border-radius: 14px;
  z-index: 1;
}

.gold-gradient-card::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: -15px;
  bottom: -15px;
  z-index: -1;
  background: linear-gradient(
    135deg,
    #cc8800 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  filter: blur(25px);
  opacity: 0;
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
  border-radius: 14px;
}

.gold-gradient-card:hover::after {
  opacity: 0.8;
  transform: scale(1.05);
}

.bg-galaxy {
  background-image: var(--background-image-galaxy-mobile);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-height: 768px) {
  .bg-galaxy {
    background-image: var(--background-image-galaxy);
  }
}
